/* I wanted to add a background gradient */
body {
    background: linear-gradient(to right, rgb(130, 113, 202), pink);
}
/* I add a backup font */
html{
    font-size: 2vw;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
/* I tried to make my profile picture nicier */
img {
    border-radius: 50%;
    border: 5px solid white;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
   
}
/* h1{
    font-size: 4rem;
   text-shadow: 2px 5px 5px rgba(0,0,0,0.3);
   
    font-family: 'Segoe UI', sans-serif;
}  */


nav {
    text-align: left;
    margin-bottom: 2%;
   
}
p {
    text-align: left;
    font-size: 1rem;
    line-height: 1.5;
}
a {
    text-align: left;
    text-decoration: none;
    color: hsl(240, 100%, 50%);
    font-weight: bold;
   
}
li{
    text-align: left;
    font-size: 1rem;
    line-height: 1.5;
}

h1 {
    text-align: center;
    text-decoration: underline rgb(216, 123, 216);
}
form {
    text-align: left;


}
section {
    text-align: left;
    font-size: 1rem;
    line-height: 1.5;
}
h3 {
   text-align: left;
    font-size: 1.5rem;
    line-height: 1.5;
}